@import "fonts.scss";

$color_primary: white;
$font-size:18px; 
$font-size_tittle: 700px;
$color: hsl(0, 0%, 41%);
$font_primary:"Epilogue";


@mixin li($theme: 590px) {
    left: $theme;
    align-self: center;
    height: 20px;
   // position: absolute;
   // top: 40px;
}




@mixin button($pixel: 94px, $backgroundc: $color_primary, $colorletra: $color) {
    
    right: 0px;
    background: $backgroundc;
    box-shadow: 0 0 1px rgba(black, .25);
    border: 2px solid #7f7f7f;
    width: $pixel;
    text-align: center;
    justify-content: center;
    padding: 10px;
    // position: relative;
    // top: 2px;
    border-radius: 22%;
    color:$colorletra;
    font-weight: bold;
    &:hover {
        background-color: $color_primary;
        color: black;
        cursor: pointer;

    }
    
}//body copy
