@import "variables.scss";

body{
    background-color: $color_primary;
   
}

.header__nav{
    display: flex;
    justify-content: space-between;
    gap: 3px;
    
    a {
        text-decoration: none;
        color:black;
    }

    li {
        display: flex;
    }
   
}

main{
    display: flex;
}


@mixin theme($theme: grey){
    background: $color_primary;
    box-shadow: 0 0 1px rgba($theme, .25);
    border: 1px solid $theme;
} 

