@import "variables.scss";

* {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}



body {
    background-color: $color_primary;
    font-family: $font_primary;

}

//--------------------------------------Header-----------------------//
.header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 3px;
    align-items: center;

    .logoSnap {
        padding-top: 22px;
        padding-left: 50px;
    }

    .nav__divLeft {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    //--------------------------------------Sección Izquierda-----------------------//
    .divLeft__ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 25px;



        span {
            text-decoration: none;
            color: black;
        }

        li {
            display: flex;
        }



        //---------------------NavBar-------//


        .li__listaDesplegable {
            width: 115px;
            //margin-top: 12px;
            align-items: center;

            &:hover {
                cursor: pointer;

            }



            .li__div {
                width: 100%;
                display: flex;
                margin: 0;
                padding: 0;
                justify-content: stretch;
               align-items: center;

                .figure__li {
                    width: 10%;
                    background: transparent;
                    align-items: center;
                    justify-content: left;


                    &:hover {
                        cursor: pointer;

                    }

                }

            }


        }

        .li__about {

            &:hover {
                cursor: pointer;

            }
        }

        .li__careers {
            &:hover {
                cursor: pointer;

            }



        }


        .li___login {
            margin-left: 300px;

            &:hover {
                cursor: pointer;

            }

        }






        #list__desplegable {
            ul {
                padding: 0px;
                position: absolute;
                list-style: none;
            }

            li {
                display: flex;
                padding: 0px;
                // gap: -15%;
                align-items: center;

                figure {
                    width: 15px;


                    img {
                        width: 100%;
                    }
                }

                a {
                    //margin-left: -15px;
                    justify-content: start;
                }
            }

        }



        #list__desplegable2 {
            ul {
                padding: 0px;
                position: absolute;
            }

            li {
                display: flex;
                padding: 0px;
                // gap: -15%;
                align-items: center;

            }

        }

    }


    #border_button {
        @include button;

    }










}

main {
    display: flex;
    padding-left: 12%;

}

.main__sectionText {
    font-size: 32px;
    width: 50%;

    .section__letra {

        height: 90%;
        display: flex;
        flex-direction: column;
        gap: 10%;
        justify-content: center;

        h1 {
            font-size: 60px;
            width: 420px;
        }


        .section__p {
            font-size: 15px;
            width: 372px;
            color: $color;
            line-height: 24px;

        }

        #learn__button {
            color: black;



            @include button ($backgroundc: black, $colorletra: white, $pixel: 100px)
        }




    }

    .main__sectionSecondariesImg {
        display: flex;
        gap: 5px;

    }


}

.main__sectionPrincipalImg {
    width: 40%;

    .figure__central {
        width: 100%;
    }

    .img__central {
        width: 120%;
    }



}